<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="">
      <div class="">
        <h2 class="text-white pt-2">Rishikesh Paradise</h2>
          <!-- <img src="/images/logo1.jpg" alt="" class="logo m-2"> -->
          <input type="checkbox" name="" id="bars">
          <label for="bars" class="icons">
            <i class="fa fa-bars" id="menu-icon"></i>
            <i class="fa fa-close" id="close-icon"></i>
          </label>
          <ul class="mt-lg-3 ml-lg-3" id="menu">
              <li class="clicked"><a href="./">Home</a></li>
              <li><a href="./about">About</a></li>
              <li><a href="./services">Services </a>
                <input type="checkbox" id="check">
                <label for="check">
                  <i class="fa fa-angle-down"></i>
                </label>
                <ul class="submenu">
                  <li><a href="">Rafating</a></li>
                  <li><a href="">Camping</a></li>
                  <li><a href="">Tracking</a></li>
                </ul>
              </li>
              <li><a href="./booking">booking</a></li>
              <li><a href="">Services</a></li>
          </ul>
      </div>
      <div>
          <div class="social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
            <a href=""><i class="fa fa-whatsapp"></i></a>
          </div>
      </div>
  </nav>

    <div class="container-fluid text-white " id="parallax">
    </div>
    <div class="container-fluid bg-title p-5">
        <div class="container p-5">
          <center>
            <h2 class="display-4">
              <b class="text-uppercase">Book your Adventure Journey Now</b>
            </h2>
          </center>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form action="/register" method="post" >
                    <div class="form-group" action="/register" method="post">
                        <label for="exampleInputEmail1" class="display-6">Name</label>
                        <input  type="text" name="name" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name Here" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="display-6">Phone Number</label>
                        <input  type="number" name="number" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Phone Numeber Here" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1 " class="display-6">Booking For</label>
                        <select class="form-control" name="booking" id="exampleFormControlSelect1">
                          <option>Rafting</option>
                          <option>Capming</option>
                          <option>Tracking</option>
                        </select>
                      </div> 
                    <div class="form-group">
                      <label for="exampleInputEmail1" class="display-6">Email address</label>
                      <input  type="email" name="email" max="" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Here">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="display-6">Number of people</label>
                        <input  type="number" name="total" max="" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="How many people are you">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="display-6">Check in date</label>
                        <input  type="date" name="checkIn" max="" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter check In date">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="display-6">Check out date</label>
                        <input  type="date" name="checkOut" max="" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter check out date">
                    </div>
                    
                    <button type="submit" class="btn bg-lite mt-3 ">Submit</button>
                  </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="container-fluid text-white " id="parallax1">
    </div>
    <footer>
        <div class="container-fluid bg-title p-5">
          <div class="row">
            <div class="col-md-1 "></div>
      
            <div class="col-md-3 bg-title mb-5">
              <h2 class="text-white">Rishikesh Paradise</h2>
              <hr>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus sunt eius placeat repellendus odio nostrum quia quos facilis totam
              </p>
              <div class="">
                  <a href="" class="square  display-5"><i class="fa fa-facebook"></i></a>
                  <a href="" class="square  display-5"><i class="fa fa-instagram"></i></a>
                  <a href="" class="square  display-5"><i class="fa fa-whatsapp"></i></a>
                  <a href="" class="square  display-5"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 bg-title mb-5">
              <h2 class="text-white">Quick Links</h2>
              <hr>
              <ul class="list-unstyled" id="links">
                <li><a href="" class="text-white">Home</a></li>
                <li><a href="" class="text-white">About</a></li>
                <li><a href="" class="text-white">Contact</a></li>
                <li><a href="" class="text-white">Services</a></li>
              </ul>
            </div>
            <div class="col-md-1"></div>
      
            <div class="col-md-3 bg-title mb-5">
              <h2 class="text-white">Contact</h2>
              <hr>
              <span class=""><b>Mail: </b>jagdeesbhandari05@gmail.com</span>
              <br>
              <span><b>Mobile: </b>9368567722</span>
              <br>
              <span><b>Address: </b>Shivpuri, Near Rishikesh</span>
            </div>
          </div>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/Js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>