<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" href="./css/style.css">


    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rishikesh Paradise</title>
  </head>
  <body>
    <nav class="">
        <div class="">
            <h1>Paradise</h1>
            <input type="checkbox" name="" id="bars">
            <label for="bars" class="icons">
              <i class="fa fa-bars" id="menu-icon"></i>
              <i class="fa fa-close" id="close-icon"></i>
            </label>
            <ul class="mt-lg-3 ml-lg-3">
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./services">Services</a></li>
                <li><a href="">Services </a>
                  <input type="checkbox" id="check">
                  <label for="check">
                    <i class="fa fa-angle-down"></i>
                  </label>
                  <ul class="submenu">
                    <li><a href="">Rafating</a></li>
                    <li><a href="">Rafating</a></li>
                    <li><a href="">Rafating</a></li>
                  </ul>
                </li>
                <li><a href="./booking">booking</a></li>
            </ul>
        </div>
        <div>
            <div class="social">
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-youtube"></i></a>
              <a href=""><i class="fa fa-whatsapp"></i></a>
            </div>
        </div>
    </nav>
<!-- navgation ends here --------------------------------------------- -->
<!-- slider setion -->
    
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="1000">
          <img class="d-block w-100" src="./images/rishikesh.jpeg" alt="First slide">
          <div class="carousel-caption d-none d-block">
            <div>
              <h2>Wecome to</h2>
            </div>
            <span class="title p-2">
              Rishikesh Paradise
            </span>
            <br>
            <a href="">
              <button class="btn mt-4 px-5 py-2">Call Us</button>
            </a>
          </div>
        </div>
        <div class="carousel-item" data-interval="1000">
          <img class="d-block w-100" src="./images/WhatsApp Image 2023-12-28 at 10.22.26 AM.jpeg" alt="Second slide">
          <div class="carousel-caption d-none d-block">
            <div>
              <h2>Experience </h2>
            </div>
            <span class="title p-2">
              Best Camping In Rishikesh
            </span>
            <br>
            <button class="btn mt-4 p-2">Book Now</button>
          </div>
        </div>
        <div class="carousel-item" data-interval="1000">
          <img class="d-block w-100" src="./images/WhatsApp Image 2023-12-28 at 10.12.31 AM (1).jpeg" alt="Third slide">
          <div class="carousel-caption d-none d-block">
            <div>
              <h2>A Warm SunShine is</h2>
            </div>
            <span class="title p-2">
              Waiting for You
            </span>
            <br>
            <button class="btn mt-4 px-5 py-2">Call Us</button>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- welcome-------------------------------- -->
    <div class="container-fluid p-lg-5 bg-title" id="welcome">
      <div class="row  p-2">
        <div class="col-lg-6 p-2">
          <img src="./images/Brown Autumn Photo Collage.jpg" alt="" class="w-100" id="welcomeImage">
        </div>
        
        <div class="col-lg-6 p-2">
          <h2 class="display-4">Welcome to </h2>
          <h2 class="bg-lite mt-3 p-2 display-4 d-inline-block bold"><strong>Rishikesh Paradise</strong></h2>
          <ul class="list-unstyled">
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, voluptatibus.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, voluptatibus.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, voluptatibus.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, voluptatibus.</li>
          </ul>
        </div>    
      </div>
    </div>
<!-- parallax -->
    <div class="container-fluid" id="parallax">
    </div>

    <!-- why to choose us section -->
    <div class="container-fluid p-md-5 bg-title" id="why">
      <div class="container-fluid">
        <center>
          <h2 class="display-4 text-transform-capitalize"><b> Why to choose Rishikesh Paradise</b></h2>
          <hr>
        </center>
      </div>
      <div class="row m-lg-5">
          
          <div class="col-lg-6">
              <div class="jumbotron bg-title">
                  <h1 class="display-4"><strong>Swimming Pool</strong></h1>
                  <p class="lead">adipisicing elit. Laborum qui molestiae quaerat accusamus voluptatum nostrum quos perspiciatis perferendis ex! Possimus corporis cum molestiae incidunt ut animi veritatis quod cumque soluta!It uses utility classes for typography and spacing to space content out within the larger container.</p>
                  <a class="btn bg-lite btn-lg" href="#" role="button">Learn more</a>
                </div>
          </div>
          <div class="col-lg-1"></div>

          <div class="col-lg-5" id="whyslider">
              <div id="Controls-1" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100 h-400" src="./images/Brown Autumn Photo Collage.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100 h-400" src="./images/rishikesh.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100 h-400" src="./images/WhatsApp Image 2023-12-28 at 10.12.31 AM (1).jpeg" alt="Third slide">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#Controls-1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#Controls-1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          </div>
      </div>

      <div class="row m-lg-5">
          
        <div class="col-lg-6">
            <div class="jumbotron bg-title">
                <h1 class="display-4"><strong>Swimming Pool</strong></h1>
                <p class="lead">adipisicing elit. Laborum qui molestiae quaerat accusamus voluptatum nostrum quos perspiciatis perferendis ex! Possimus corporis cum molestiae incidunt ut animi veritatis quod cumque soluta!It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn bg-lite btn-lg" href="#" role="button">Learn more</a>
              </div>
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-5" id="whyslider">
            <div id="Controls-2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100 h-400" src="./images/Brown Autumn Photo Collage.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100 h-400" src="./images/rishikesh.jpeg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100 h-400" src="./images/WhatsApp Image 2023-12-28 at 10.12.31 AM (1).jpeg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#Controls-2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Controls-2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>

    <div class="row m-lg-5">
          
      <div class="col-lg-6">
          <div class="jumbotron bg-title">
              <h1 class="display-4"><strong>Swimming Pool</strong></h1>
              <p class="lead">adipisicing elit. Laborum qui molestiae quaerat accusamus voluptatum nostrum quos perspiciatis perferendis ex! Possimus corporis cum molestiae incidunt ut animi veritatis quod cumque soluta!It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <a class="btn bg-lite btn-lg" href="#" role="button">Learn more</a>
            </div>
      </div>
      <div class="col-lg-1"></div>

      <div class="col-lg-5" id="whyslider">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 h-400" src="./images/Brown Autumn Photo Collage.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 h-400" src="./images/rishikesh.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 h-400" src="./images/WhatsApp Image 2023-12-28 at 10.12.31 AM (1).jpeg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
      </div>
  </div>

    
    </div>
<!-- paralax section--------------------------------- -->
<div class="container-fluid" id="parallax1">
</div>
<!-- booking section -->
<div class="container-fluid bg-title   px-md-5 py-5">
  <div class="row px-md-5">
      <div class="col-lg-5">
          <h2 class="bg-title p-2 display-7">Book Your slot Now</h2>
          <hr>
          <form action="/book" method="post" >
              <div class="form-group" action="/register" method="post">
                  <label for="exampleInputEmail1" class="display-6">Name</label>
                  <input  type="text" name="name" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name Here" required>
                </div>
              <div class="form-group">
                  <label for="exampleInputEmail1" class="display-6">Phone Number</label>
                  <input  type="Number" name="number" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Phone Numeber Here" required>
                </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="display-6">Email address</label>
                <input  type="email" name="email" max="" class="form-control h-60" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Here">
              </div>
              
              <button type="submit" class="btn bg-lite mt-3 ">Submit</button>
            </form>
      </div>
      <div class="col-md-2"></div>
      <div class="col-lg-5">
          <h2 class="bg-title p-2 display-7">Find Us</h2>
          <hr>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6901.167256013008!2d78.37952235909913!3d30.134725769317974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390911322d4ecf01%3A0x63b65903f64ff174!2sShivpuri%2C%20Uttarakhand!5e0!3m2!1sen!2sin!4v1703872272593!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 h-400"></iframe>
      </div>
  </div>
  
</div>
<!-- paralax section--------------------------------- -->
<div class="container-fluid" id="parallax2">
</div>
<!-- reviews-------------------------------------- -->
<div class="container-fluid p-lg-5 bg-title" id="review">
  <div class="row">
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div>
        <h2 class="display-3 text-white"><b>Review Us</b></h2>
        <p class="display-6">Tell how our services is</p>
      </div>
    </div>

    <div class="col-lg-6">
      <form action="/massage" method="post">
        <div class="form-group">
          <label for="Email1"></label>
          <input type="text" name="name" class="form-control h-60" id="Email1" aria-describedby="emailHelp" placeholder="Enter Your Name here">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"  class="display-6">Write Review here</label>
          <textarea class="form-control" name="massage" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn bg-lite">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- paralax -->
<div class="container-fluid" id="parallax3">
</div>
<!-- fixed -->
  <div class="container-fluid fixed-bottom">
      <div class="row">
        <div class="col-lg-6 bg-lite d-flex align-items-center justify-content-center text-white p-3 display-6 cursor-pointer">
          <h2 ><a href="" class="text-white"><i class="fa fa-phone"></i>&nbsp;Call Us</a></h2>
        </div>
        <div class="col-lg-6 bg-lite d-flex align-items-center justify-content-center text-white p-3 display-6 cursor-pointer">
          <h2 ><a href="https://wa.me/9368567722" target="_blank" class="text-white"><i class="fa fa-whatsapp"></i>&nbsp;WhatsApp Us</a></h2>
        </div>
    </div>
  </div>
  <!--footer---------------------- -->
  <footer>
    <div class="container-fluid bg-title p-5">
      <div class="row">
        <div class="col-md-1 "></div>
  
        <div class="col-md-3 bg-title mb-5">
          <h2 class="text-white">Rishikesh Paradise</h2>
          <hr>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus sunt eius placeat repellendus odio nostrum quia quos facilis totam
          </p>
          <div class="">
              <a href="" class="square  display-5"><i class="fa fa-facebook"></i></a>
              <a href="" class="square  display-5"><i class="fa fa-instagram"></i></a>
              <a href="" class="square  display-5"><i class="fa fa-whatsapp"></i></a>
              <a href="" class="square  display-5"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 bg-title mb-5">
          <h2 class="text-white">Quick Links</h2>
          <hr>
          <ul class="list-unstyled" id="links">
            <li><a href="" class="text-white">Home</a></li>
            <li><a href="" class="text-white">About</a></li>
            <li><a href="" class="text-white">Contact</a></li>
            <li><a href="" class="text-white">Services</a></li>
          </ul>
        </div>
        <div class="col-md-1"></div>
  
        <div class="col-md-3 bg-title mb-5">
          <h2 class="text-white">Contact</h2>
          <hr>
          <span class=""><b>Mail: </b>jagdeesbhandari05@gmail.com</span>
          <br>
          <span><b>Mobile: </b>9368567722</span>
          <br>
          <span><b>Address: </b>Shivpuri, Near Rishikesh</span>
        </div>
      </div>
    </div>
  </footer>

  
</body>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>